* {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

i {
  font-size: 15px;
  float: left;
  margin-top: 4.8%;
  margin-left: 20px;
  color: #fff;
}

si {
  font-size: 15px;
  float: left;
  margin-top: 4%;
  margin-left: 25px;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  width: 12vw;
  height: 3vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 17px;
  position: absolute;
  left: 44.5%;
  bottom: 2.6vw;
  opacity: 0;
  box-shadow: #72050e 2px 2px 6px;
  -webkit-animation: anim1 1s forwards;
  animation: anim1 1s forwards;
}

.wrapper.ui {
  -webkit-animation: anim2 1s forwards;
  animation: anim2 1s forwards;
}

.prog header {
  right: 2.5%;
  margin-bottom: 1vw;
}

.prog {
  color: #fff;
  width: 380px;
  position: absolute;
  margin-left: 2.5%;
  margin-top: 11px;
}

.prog .bar {
  position: relative;
  background-color: #72050e;
  border-radius: 3px;
  margin-left: 13%;
  width: 35%;
}

.prog .bar .fuel_perc {
  position: relative;
  color: #fff;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  height: 14px;
  margin-bottom: 20px;
  opacity: 1;
}

.carspeed {
  position: absolute;
  margin-left: 75px;
  margin-top: 1px;
  font-weight: 850;
  font-size: 2.2vh;
}

.kmh_mph {
  font-weight: 600;
  font-size: 1.1vh;
  float: left;
  margin-top: 12px;
  margin-left: 95px;
}

@-webkit-keyframes anim1 {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  100% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }
}

@keyframes anim1 {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  100% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }
}

@-webkit-keyframes anim2 {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
